.clock{
  color: #6c757d;
}

div.jumbotron{
  background: url(../images/header.jpg) fixed center no-repeat;
  background-size: cover;

  border-bottom: 0.5px solid;
  border-bottom-color: #6b717a;
  height: 400px !important;
}
.jumbotron .container{
  padding-top: 3em;
}

.container h1{
  font-family: Calligraffitti;
  font-size: 72px;
  color: black;
}
#pCover {
  color: black;
  font-size: 20px;
  padding: unset;
}
#landingTitle {
  padding-bottom:2em;
  padding-top:3em;
}
#pLandingTitle{
  font-size: 40px;
  font-style: oblique;
  font-family: Calligraffitti;
}
.videoP{
  border-top: 0.5px solid;
  border-top-color: #6b717a;
}
#pVideoTitle{
  font-size: 30px;
  font-family: Calligraffitti;

}
.btn-light{
  border-color: #dae0e5 !important;
}
.media{
  
}
